$primary: #087D48;
$light: #F9F9F9;
$danger: #FF0000;
$warning: #F7BA07;
$info: #9747FF;
$secondary: #3265D8;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
$enable-negative-margins: true;

// // Custom theme colors
// $custom-theme: (
    // $purple: #9747FF,
//     // $purple-border: #9747FF;
    // $blue: #3265D8,  
// );
// 
// $theme-colors: map-merge($theme-colors, $custom-theme);

// // Import Bootstrap scss
@import "../node_modules/bootstrap/scss/bootstrap";